<?xml version="1.0"?>
<!--
/**
 * @author Gustavo Ulyssea - gustavo.ulyssea@gmail.com
 * @copyright Copyright (c) 2020-2021 GumNet (https://gum.net.br)
 * @package GumNet AME Magento 1.9
 * All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions
 * are met:
 * 1. Redistributions of source code must retain the above copyright
 *    notice, this list of conditions and the following disclaimer.
 * 2. Redistributions in binary form must reproduce the above copyright
 *    notice, this list of conditions and the following disclaimer in the
 *    documentation and/or other materials provided with the distribution.
 *
 * THIS SOFTWARE IS PROVIDED BY GUM Net (https://gum.net.br). AND CONTRIBUTORS
 * ``AS IS'' AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED
 * TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR
 * PURPOSE ARE DISCLAIMED.  IN NO EVENT SHALL THE FOUNDATION OR CONTRIBUTORS
 * BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
 * CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
 * SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
 * INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
 * CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
 * ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
 * POSSIBILITY OF SUCH DAMAGE.
 */
 -->

<config>
    <modules>
        <Ame_Amepayment>
            <version>1.0.1.0</version>
        </Ame_Amepayment>
    </modules>
    <global>
        <models>
            <amepayment>
                <class>Ame_Amepayment_Model</class>
            </amepayment>
        </models>
        <helpers>
            <amepayment>
                <class>Ame_Amepayment_Helper</class>
            </amepayment>
        </helpers>success_
        <blocks>
            <amepayment>
                <class>Ame_Amepayment_Block</class>
            </amepayment>
            <checkout>
                <rewrite>
                    <onepage_success>Ame_Amepayment_Block_Onepage_Success</onepage_success>
                </rewrite>
            </checkout>
        </blocks>
        <resources>
            <amepayment_setup>
                <setup>
                    <module>Ame_Amepayment</module>
                </setup>
            </amepayment_setup>
        </resources>
        <events>
            <checkout_onepage_controller_success_action>
                <observers>
                    <ame_amepayment_model_observer>
                        <type>singleton</type>
                        <class>amepayment/Observer_Observer</class>
                        <method>createOrder</method>
                    </ame_amepayment_model_observer>
                </observers>
            </checkout_onepage_controller_success_action>
            <core_block_abstract_to_html_after>
                <observers>
                    <ame_confirm_button_observer>
                        <class>amepayment/observer_observer</class>
                        <method>insertAmeLogo</method>
                        <type>singleton</type>
                    </ame_confirm_button_observer>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <ame_amepayment>
                    <file>ame_amepayment.xml</file>
                </ame_amepayment>
            </updates>
        </layout>
        <routers>
            <ame>
                <use>standard</use>
                <args>
                    <module>Ame_Amepayment</module>
                    <frontName>m1amecallbackendpoint</frontName>
                </args>
            </ame>
        </routers>
    </frontend>
    <adminhtml>
        <events>
            <adminhtml_widget_container_html_before>
                <observers>
                    <ame_buttons_observer>
                        <class>amepayment/observer_observer</class>
                        <method>addAmeButtons</method>
                        <type>singleton</type>
                    </ame_buttons_observer>
                </observers>
            </adminhtml_widget_container_html_before>
            <sales_order_creditmemo_refund>
                <observers>
                    <ame_amepayment_model_refund_observer>
                        <type>singleton</type>
                        <class>amepayment/Observer_Observer</class>
                        <method>refundOrder</method>
                    </ame_amepayment_model_refund_observer>
                </observers>
            </sales_order_creditmemo_refund>
        </events>
    </adminhtml>
    <admin>
        <routers>
            <ame_amepayment>
                <use>admin</use>
                <args>
                    <module>Ame_Amepayment</module>
                    <frontName>ame</frontName>
                </args>
            </ame_amepayment>
        </routers>
    </admin>
    <default>
        <payment>
            <ame>
                <active>1</active>
                <model>amepayment/amepayment</model>
                <order_status>pending</order_status>
                <title>AME</title>
                <allowspecific>0</allowspecific>
                <group>offline</group>
            </ame>
        </payment>
    </default>
    <crontab>
        <jobs>
            <ame_amepayment>
                <schedule><cron_expr>5 * * * *</cron_expr></schedule>
                <run><model>amepayment/cron::captureOrder</model></run>
            </ame_amepayment>
        </jobs>
    </crontab>
</config>
